.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  scroll-margin-top: 80px;
  animation: fadeIn 0.8s ease both;

  img {
    height: 220px;
    width: 400px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 300ms ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  a:hover {
    transform: scale(1.1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}

