.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  scroll-margin-top: 80px;
  animation: fadeIn 0.8s ease both;

  img {
    height: 267.75px;
    width: 476px;
    /* align-self: center; */
    background-color: var(--project-card-bg);
    border-radius: 10px;
    margin-top: 15px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    /* transition: transform 300ms ease-in-out; */
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
  }

  a:hover {
    /* transform: scale(1.1); */
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.projectsContainer h3 {
  margin: 0 0 8px;
  text-align: left;
  font-size: 20px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.projectsContainer p {
  margin-bottom: auto;
  text-align: left;
  color: oklch(0.708 0 0);
  font-size: 14px;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/* Dark mode */
body[data-theme="dark"] .projectsContainer {
  background-color: #272727;
  color: oklch(0.985 0 0);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* keeps text starting from the left */
  height: 480px;
  width: 510px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  background-color: whitesmoke;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.projectsContainer .language {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /* justify-items: center; */
  align-items: center;
  width: 70%;
  max-width: 900px;
  margin-top: auto;
}

@media (width<= 800px) {
  /* .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  } */

  .projectsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media (min-width: 800px) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
} */
