.container {
  display: flex;
  flex-direction: column; 
  text-align: center;
  scroll-margin-top: 80px;
}

.container span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container img {
  width: 50px;
}

.skillList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 per row */
  gap: 30px;
  /* justify-items: center; */
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.skillItem {
  display: flex;
  flex-direction: column; /* icon on top, text under */
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 120px;
}

.skillItem img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.skillItem p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (width >= 800px) {
  .skillList {
    gap: 30px;
  }

  .skillList p {
    font-size: 20px;
  }

  hr {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .skillList {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 420px) {
  .skillList {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }

  .container img {
    width: 30px;
  }
}
