:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #353535;
  --form-text-color: #555;
  --footer-text-color: #888;
}

[data-theme="dark"] {
  --background-color: #161616; /*222*/
  --btn-color: #fff;
  --btn-text-color: #353535;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  /* text-transform: uppercase; */
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 250;
}

.sectionTitle {
  margin: 0 0 10px 0;
  text-align: left;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.description {
  color: #888;
  margin-bottom: 50px;
  text-align: left;
  max-width: 900px; /* prevents super wide line */
  line-height: 1.6;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hover {
  cursor: pointer;
}

body[data-theme="dark"] .bg-secondary {
  background-color: #353535;
  color: oklch(0.708 0 0);
  border: none;
}

.badge {
  margin-top: auto;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 999px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.bg-secondary {
  border: 1px solid #161616;
  /* background-color: #353535; */
  color: #161616;
}

@media (width >= 800px) {
  #root {
    gap: 40px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  /* .sectionTitle {
    margin-bottom: 60px;
  } */

  @media (width >= 1400px) {
    #root {
      gap: 40px;
    }
    h1 {
      font-size: 48px;
    }
    p {
      text-align: center;
    }

    /* .sectionTitle {
      margin-bottom: 75px;
    } */
  }

  html {
    scroll-behavior: smooth;
  }
}

